body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  padding: 60px;
  border-radius: 15px;
  background-color: #000000;
  box-shadow: 0 4px 8px rgba(32, 32, 32, 0.1);
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

button {
  width: 50%;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #d5d4d4;
  color: #000;
}

/* Login Form For CSS */

.login {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 60px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
}

/* Homepage CSS */

.navbar {
  display: flex;
  justify-content: center;
  width: 750px;
  flex-wrap: wrap;
  gap: 25px;
}

.navbarContainer {
  position: relative;  
  background-color: black;
  color: white;
  padding: 50px;
  border-radius: 15px;
}

.navbarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  width: 200px;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

/* Admin page */

.addUserForm input {
   margin: 10px;
  width: 35%; 
  height: 40px; 
}

.addUserForm {
  color: #ffffff;
  font-size: 16px;
  height: auto;
}

select {
  width: 200px;
  height: 37px;
  border-radius: 15px;
}

.header {
  margin-bottom: 7rem;
  text-align: center;
  font-size: 25px;
}

.questionsListButton {
  text-align: center;
  color: #000000;
  font-size: 15px;
  font-weight: normal;
  width: 10%;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  
  transition: 0.3s;
}

.questionsListButton:hover {
  background-color: #d5d4d4;
  color: #000;
}

/* questionslist page */

.userList {
  width: 60%;
  height: auto;
}

.userList table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.userList table th {
  background-color: rgb(44, 43, 43);
  padding: 10px;
  color: #fff;
}

.userList table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.userList table tr:hover {
  background-color: #9f9c9c;
}

.userList table tr:hover td {
  color: #fff;
}

.userList table tr:hover td a {
  color: #fff;
}

.userList table tr:hover td a:hover {
  color: #000;
}

.userList table a {
  color: #000;
  text-decoration: none;
}

.userList table a:hover {
  color: #fff;
}

.userList table button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.userList table button:hover {
  background-color: #000;
  color: #fff;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

#search-form {
  display: flex;
  align-items: center;
  gap: 15px;
}

#search-form .search-input {
  padding: 8px;
  font-size: 16px;
  gap: 15px;
  width: 300px;
  margin-bottom: 5px;
}

#search-form .search-button {
  border-radius: 15px;
  width: 50%;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

#search-form .search-button:hover {
  background-color: #d5d4d4;
  color: #000;
}

/* Logout Button */

.logout {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  margin-top: 10px;
  margin-right: 10px;
}
/* register */
.containerregister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  padding: 60px;
  border-radius: 15px;
  background-color: #000000;
  box-shadow: 0 4px 8px rgba(32, 32, 32, 0.1);
  text-align: center;
  width: 450px;
}

.containerregister input {
  width: 350px;
}